/* BARGRAPH.MODULE.CSS */
body {
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.chartContainer {
  width: 700px;
  height: 450px;
  margin-bottom: -250px; /* Adjust the gap between charts */
  margin-top: 250px;
  margin-left: 420px;
}

canvas {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Media Queries for Mobile Compatibility */
@media (max-width: 768px) {
  .chartContainer {
    width: 100%;
    height: auto;
    margin: 20px 0; /* Reset margins for smaller screens */
  }
  
  canvas {
    margin-top: 90%;
    margin-left: 70px;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .chartContainer {
    width: 100%;
    height: auto;
    margin: 10px 0; /* Further reset margins for smallest screens */
  }
  
  canvas {
    width: 100%;
    padding: 5px;
  }
}
